@import url("color.css");

body{
	font-family: 'Raleway', sans-serif;
	background-color: var(--dark);
	min-height: 100vh;
	transition: 1000ms;
}
header{
	background-color: var(--dark);
	color: var(--light);
}
.switch label .lever{
	background-color: rgb(91, 91, 91);
}
a{
	text-decoration: none !important;
}
a.btn:hover{
	color: inherit;
}
.dropdown-content{
	width: unset !important;
	height: unset !important;
}
.navig a{
	position: relative;
	transition: 250ms;
	color: var(--light);
	vertical-align: sub;
	cursor: pointer;
}
.navig a::after{
	content: "";
	position: absolute;
	bottom: -5px;
	left: 49%;
	width: 2px;
	transition: 250ms;
	height: 2px;
	background-color: var(--light-red);
}
.navig a:hover::after{
	width: 100%;
	left: 0;
	height: 1px;
}
.navig a:hover{
	color: var(--light-red);
}
#lang-switcher{
	background-color: var(--light-red)
}
.dropdown-content li>a, .dropdown-content li>span{
	font-size: 1rem;
}
.switch label input[type=checkbox]:checked+.lever{
	background-color: #6b5164;
}
.switch label input[type=checkbox]:checked+.lever:after{
	background-color: #d45d76;
}
.btn, .btn-large, .btn-small, .btn-flat{
	text-transform: none;
}
.btn i, .btn-large i, .btn-small i, .btn-floating i, .btn-large i, .btn-small i, .btn-flat i{
	font-size: 1rem;
}