@import url("color.css");

body{
	font-family: 'Ubuntu', sans-serif;
	background-color: var(--light);
	min-height: 100vh;
}
header{
	background-color: var(--dark);
	color: var(--light);
}
.switch label .lever{
	background-color: rgb(91, 91, 91);
}
a{
	text-decoration: none !important;
}
a.btn:hover{
	color: inherit;
}
.dropdown-content{
	width: unset !important;
	height: unset !important;
}